.App {
  margin: 0%;
  height: 707px;
  color: white;
  background-color: #284959;
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.grid {
  
}

.button {
  width: 170px;
  height: 40px;
}

.addButton {
  width: 50%;
  display: block;
  margin-left: 30px;
  height: 40px;
}

.btnGrp {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.navbar {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg2 {
  float: right;
  margin-right: 20px;
}

.search {
  display: block;
  margin-left: 120px;
  color: white;
}

.main {
  margin: 0%;
}
.textField {
  margin: 20px;
  width: 200px;
}

.footer {
  text-align: center;
  
}